
*.db
.vs/ImGui DirectX 9 Kiero Hook 2/v16/.suo
.vs/ImGui DirectX 9 Kiero Hook 2/v16/Browse.VC.db
.vs/ImGui DirectX 9 Kiero Hook 2/v16/ipch/AutoPCH/4c4c89b67299087a/FUNCTIONS.ipch
.vs/ImGui DirectX 9 Kiero Hook 2/v16/ipch/AutoPCH/807b79d59e4741f0/MAIN.ipch
.vs/ImGui DirectX 9 Kiero Hook 2/v16/ipch/AutoPCH/84d2ede577c0353a/MAIN.ipch
.vs/ImGui DirectX 9 Kiero Hook 2/v16/ipch/AutoPCH/b9421b2020608529/MAIN.ipch
Debug/ImGui DirectX 9 Kiero Hook 2.ilk
Debug/ImGui DirectX 9 Kiero Hook 2.pdb
